Repository furima-share-re/fleapay-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

fv
  package-lock.json
Due: prettier --write

d
  app/api/admin/setup-test-users/route.ts
  app/api/pending/start/route.ts
  app/api/seller/analytics/route.ts
  app/seller-purchase-standard/page.tsx
  lib/auth-prisma.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

dd
  .eslintrc.json
  app/api/admin/setup-test-users/route.ts
  app/api/admin/stripe/summary/route.ts
  app/api/benchmark/data/route.ts
  app/api/debug/helicone/route.ts
  app/api/photo-frame/route.ts
  app/api/seller/analytics/route.ts
  app/api/webhooks/stripe/route.ts
  app/checkout/page.tsx
  app/kids-dashboard/page.tsx
  app/seller-purchase-standard/page.tsx
  app/success/page.tsx
  lib/auth-prisma.ts
  lib/llm/compat/openai-adapter.ts
  lib/llm/factory.ts
  lib/llm/features/information-gathering.ts
  lib/llm/features/podcast.ts
  lib/llm/features/sns-posting.ts
  lib/llm/index.ts
  lib/llm/providers/openai.ts
  lib/llm/retry.ts
  lib/llm/router.ts
  lib/llm/tracing.ts
  lib/llm/types-extended.ts
  lib/sql-conditions.ts
  next-env.d.ts
  tsconfig.json
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

x
  app/admin/payments/page.tsx
  app/kids-dashboard/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

db
  .cursor/worktrees.json
Due: prettier --write

DB
  app/checkout/page.tsx
  app/kids-dashboard/page.tsx
  lib/auth-prisma.ts
  lib/llm/retry.ts
  lib/llm/tracing.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  lib/auth-prisma.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

db
  app/admin/dashboard/page.tsx
  app/admin/frames/page.tsx
  app/admin/sellers/page.tsx
  app/api/admin/frames/route.ts
  app/api/admin/sellers/route.ts
  app/api/analyze-item/route.ts
  app/api/debug/helicone-test/route.ts
  app/api/pending/start/route.ts
  app/api/photo-frame/route.ts
  app/api/seller/summary/route.ts
  app/api/webhooks/stripe/route.ts
  app/cancel/page.tsx
  app/layout.tsx
  app/seller-purchase-standard/page.tsx
  app/success/page.tsx
  lib/llm/router.ts
  lib/openai.ts
  lib/utils.ts
  public/seller-dashboard.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  app/api/seller/analytics/route.ts
  app/api/seller/summary/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  app/admin/dashboard/page.tsx
  app/api/debug/helicone-test/route.ts
  app/api/photo-frame/route.ts
  app/api/seller/summary/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

db
  app/api/checkout/result/route.ts
  app/api/checkout/session/route.ts
  app/api/debug/db-status/route.ts
  app/api/seller/analytics/route.ts
  app/api/seller/start_onboarding/route.ts
  app/api/seller/summary/route.ts
  app/api/webhooks/stripe/route.ts
  app/layout.tsx
  public/seller-dashboard.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

db
  app/api/analyze-item/route.ts
  app/api/benchmark/data/route.ts
  app/api/debug/db-status/route.ts
  app/api/seller/summary/route.ts
  app/layout.tsx
  public/seller-dashboard.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

db
  app/api/analyze-item/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  public/seller-dashboard.html
  scripts/check-pre-migration-data.sql
  scripts/fix-missing-buyer-attributes.sql
  scripts/migrate-buyer-attributes-from-orders.sql
Due: none

test
  app/api/seller/summary/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

決済画面デグレ
  app/checkout/page.tsx
  scripts/set-seller-test01-kids-plan.sql
  scripts/setup-test-users.js
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

ｄｂ
  app/checkout/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

デグレ
  app/checkout/page.tsx
  public/seller-dashboard.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

デグレ
  public/seller-dashboard.html
Due: none

DB
  app/api/checkout/session/route.ts
  app/checkout/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

環境移行テスト
  app/api/checkout/session/route.ts
  app/checkout/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

環境移行
  app/checkout/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

環境移行
  app/globals.css
Due: none

サーバー移行
  .dockerignore
  .npmignore
  BUILD_OPTIMIZATION_GUIDE.md
  BUILD_PIPELINE_1000_MINUTES_SOLUTION.md
  ENVIRONMENT_COMPATIBILITY_SCORING.md
  LARGE_SCALE_COST_COMPARISON.md
  OTHER_PLATFORMS_SCORING.md
  PLATFORM_COMPARISON_ANALYSIS.md
  PRACTICAL_COMPARISON_SCORING.md
  RENDER_VS_VERCEL_DETAILED_COMPARISON.md
  RENDER_VS_VERCEL_SCORING.md
  VERCEL_AWS_ENV_VAR_FIX.md
  VERCEL_BUILD_WARNINGS_FIX.md
  VERCEL_ENV_VAR_COMPLETE_FIX.md
  VERCEL_ENV_VAR_FIX.md
  VERCEL_ENV_VAR_NAME_VALIDATION.md
  VERCEL_ENV_VAR_TROUBLESHOOTING.md
  VERCEL_SETUP_GUIDE.md
  app/api/checkout/session/route.ts
  app/api/seller/start_onboarding/route.ts
  lib/utils.ts
  next.config.js
  package.json
  render.yaml
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

Vercel
  VERCEL_NODEJS_24_UPGRADE.md
  package.json
Due: prettier --write

Vercel
  VERCEL_CRITTERS_FIX.md
  VERCEL_PACKAGE_LOCK_FIX.md
  package-lock.json
  package.json
Due: prettier --write

VERCEL
  VERCEL_LOGS_ANALYSIS_AND_FIXES.md
  VERCEL_REGION_OPTIMIZATION.md
  app/api/analyze-item/route.ts
  vercel.json
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

Vercel
  VERCEL_AWS_ENV_VAR_RESERVED_FIX.md
  VERCEL_ENV_VAR_AUDIT.md
  VERCEL_ENV_VAR_MISMATCH_FIX.md
  app/api/pending/start/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

Vercel
  vercel.json
Due: prettier --write

Vercel
  VERCEL_LOGS_ANALYSIS.md
  lib/utils.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

Vercel
  app/api/debug/db-status/route.ts
  app/api/seller/summary/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

移行
  lib/utils.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

環境
  app/api/pending/start/route.ts
  app/api/seller/analytics/route.ts
  app/api/seller/kids-summary/route.ts
  app/api/seller/order-detail-full/route.ts
  app/api/seller/order-detail/route.ts
  app/api/seller/orders/[orderId]/route.ts
  app/api/seller/summary/route.ts
  lib/utils.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

環境
  lib/utils.ts
  public/server.js
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

環境
  AUTOMATION_GUIDE.md
  HOW_TO_ADD_TABLE.md
  SECURITY_POLICY_SQL.md
  app/api/admin/bootstrap-sql/route.ts
  app/success/page.tsx
  package.json
  public/server.js
  public/success.html
  scripts/apply-migration.js
  scripts/apply-migration.ps1
  scripts/archived/README.md
  scripts/archived/check-database-timezone.sql
  scripts/archived/check-migration-status.sql
  scripts/archived/check-pre-migration-data.sql
  scripts/archived/fix-missing-buyer-attributes.sql
  scripts/archived/migrate-buyer-attributes-from-orders.sql
  scripts/archived/quick-check-sales-2024-12-27.sql
  scripts/archived/set-seller-test01-kids-plan.sql
  scripts/archived/verify-migration-complete.sql
  scripts/archived/verify-migration-data.sql
  scripts/archived/verify-sales-2024-12-27.sql
  temp_success.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

環境
  CURSOR_MIGRATION_GUIDE.md
  QR_PAYMENT_CHECK_GUIDE.md
  app/api/seller/summary/route.ts
  app/checkout/page.tsx
  scripts/check-incomplete-qr-payments.sql
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

環境
  QR_PAYMENT_CHECK_GUIDE.md
  scripts/check-incomplete-qr-payments.sql
Due: prettier --write

環境
  app/api/analyze-item/route.ts
  app/api/debug/helicone-test/route.ts
  app/api/photo-frame/route.ts
  lib/openai.ts
  public/seller-dashboard.html
  scripts/check-incomplete-qr-payments.sql
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

環境
  app/api/orders/metadata/route.ts
  app/api/pending/start/route.ts
  app/api/seller/summary/route.ts
  app/checkout/page.tsx
  app/globals.css
  public/kids-dashboard.html
  public/seller-dashboard.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'tsc --noEmit --pretty false': any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
