Repository furima-share-re/fleapay-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "bash -c 'tsc --noEmit --pretty false'"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

テスト
  tests/integration/strategy-f-checkout.test.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

テスト
  docs/CONNECTION_ERROR_TROUBLESHOOTING.md
  tests/integration/strategy-f-checkout.test.ts
  vitest.config.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

KPI
  app/admin/dashboard/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

テスト
  public/seller-dashboard.html
  出店者画面_動作確認ガイド.md
  手数料修正_動作確認ガイド.md
Due: prettier --write

管理者
  URLリスト_動作確認用.md
  app/admin/dashboard/page.tsx
  app/api/admin/fee-rates/route.ts
  手数料修正_動作確認ガイド.md
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

管理者
  app/admin/dashboard/page.tsx
  app/api/admin/benchmark-data/route.ts
  app/api/admin/goal-achievements/route.ts
  app/api/admin/kpi-metrics/route.ts
  supabase/migrations/20260120_120000_create_kpi_management_tables.sql
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

管理者
  app/admin/dashboard/page.tsx
  app/api/admin/benchmark-data/route.ts
  app/api/admin/goal-achievements/auto/route.ts
  app/api/admin/kpi-metrics/auto/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

管理画面
  app/admin/dashboard/page.tsx
  app/admin/kpi-management/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

手数料
  app/admin/dashboard/page.tsx
  app/admin/fee-rates/page.tsx
  手数料修正_動作確認ガイド.md
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

手数料
  app/api/admin/benchmark-data/route.ts
  app/api/admin/fee-rates/route.ts
  本番環境マイグレーション適用ガイド.md
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

手数料
  .github/workflows/apply-migrations.yml
  本番環境マイグレーション即時適用手順.md
  本番環境マイグレーション適用ガイド.md
Due: prettier --write

手数料
  .github/workflows/apply-migrations.yml
  GitHub Actions失敗の解決手順.md
  自動適用されない原因の確認手順.md
Due: prettier --write

手数料
  apply-to-staging失敗の解決方法.md
Due: prettier --write

手数料
  GitHub Secrets設定手順_CI_CD専用.md
  GitHub Secrets設定手順_詳細版.md
  セキュリティガイド_認証情報の管理.md
Due: prettier --write

テスト
  SUPABASE_PROJECT_ID_STAGING未設定の解決方法.md
Due: prettier --write

手数料
  .gitattributes
  Git LFS問題の解決方法.md
Due: prettier --write

手数料
  .github/workflows/apply-migrations.yml
Due: none

手数料
  scripts/check_migration_safety.py
  supabase/migrations/20250115_120000_add_payment_state.sql
  supabase/migrations/20260102_120000_add_auth_provider_columns.sql
  なぜ失敗が続くのか_原因分析と解決策.md
Due: prettier --write

手数料
  URLリスト_動作確認用.md
  scripts/check_migration_safety.py
  supabase/migrations/20250115_120000_add_payment_state.sql
  supabase/migrations/20260102_120000_add_auth_provider_columns.sql
Due: prettier --write

Remove rollback migration file to fix duplicate key error
  supabase/migrations/20250115_120000_add_payment_state_rollback.sql
Due: none

手数料
  .github/workflows/apply-migrations.yml
  apply-to-staging失敗の解決方法.md
  scripts/apply-migrations-supabase-cli.ps1
  バリデーション実装確認結果.md
  マイグレーション適用実行ガイド.md
  以前の自動適用メカニズム調査レポート.md
  手数料修正_動作確認ガイド.md
Due: prettier --write

手数料
  supabase/migrations/20250117_120000_add_strategy_f_tier_system.sql
Due: none

手数料
  .github/workflows/apply-migrations.yml
  apply-to-staging失敗の解決方法.md
Due: prettier --write

手数料
  .github/workflows/apply-migrations.yml
  prisma/schema.prisma
Due: none

出店者
  app/admin/fee-rates/page.tsx
  app/seller-dashboard/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

出店者
  app/api/admin/fee-rates/route.ts
  app/api/seller/tier-status/route.ts
  lib/strategy-f.ts
  prisma/schema.prisma
  supabase/migrations/20250701_000000_update_strategy_f_fee_rates.sql
  supabase/migrations/20250701_000010_create_seller_monthly_stats.sql
  tests/integration/STRATEGY_F_TEST_README.md
  tests/integration/strategy-f-api.test.ts
  tests/integration/strategy-f-checkout.test.ts
  tests/integration/strategy-f.test.ts
  手数料修正_動作確認ガイド.md
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

出店者
  app/api/seller/tier-status/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

デザイン
  app/seller-dashboard/page.tsx
  docs/01_overview/出店者_画面一覧.md
  public/seller-dashboard.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

stripe
  next.config.js
Due: eslint --fix

next
  PHASE_1_8_DB_MIGRATION_COMPLETE_GUIDE.md
  SCREENSHOT_INSTRUCTIONS.md
  URLリスト_動作確認用.md
  app/api/seller/start_onboarding/route.ts
  app/seller-dashboard/page.tsx
  docs/01_overview/出店者_画面一覧.md
  docs/02_spec/API仕様_売主用注文詳細取得.md
  public/seller-dashboard.html
  public/server.js
  public/staging-verification-urls-local.html
  public/staging-verification-urls.html
  scripts/auto-verify-staging.ps1
  scripts/auto-verify-staging.sh
  scripts/comprehensive-degradation-check.ps1
  scripts/test-verification-urls.ps1
  scripts/verify-staging-simple.ps1
  scripts/verify-with-deployment-check.ps1
  出店者画面_動作確認ガイド.md
  手数料修正_動作確認ガイド.md
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write
