Repository furima-share-re/fleapay-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

デザイン
  docs/01_overview/出店者_画面一覧.md
  public/seller-dashboard.html
Due: prettier --write

デザイン
  app/seller-dashboard/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

デザイン
  public/seller-dashboard.html
Due: none

ファビコン
  app/icon.svg
  public/icon.svg
Due: none

元に戻した
  public/seller-dashboard.html
Due: none

モック
  app/vendor/on/page.tsx
  components/ui/card.tsx
  components/ui/progress.tsx
  components/ui/separator.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

背景
  public/seller-dashboard.html
Due: none

モック
  app/seller-dashboard-mock/page.tsx
  public/seller-dashboard-mock.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

決済できない
  app/api/checkout/session/route.ts
  lib/strategy-f.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

エラー
  app/api/checkout/session/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

決済手数料テスト
  app/admin/dashboard/page.tsx
  app/admin/fee-checks/page.tsx
  app/admin/fee-rates/page.tsx
  app/admin/frames/page.tsx
  app/admin/kpi-management/page.tsx
  app/admin/payments/page.tsx
  app/admin/sellers/page.tsx
  app/admin/tier-boundary/page.tsx
  app/api/admin/fee-checks/route.ts
  app/api/admin/tier-boundary/route.ts
  docs/01_overview/出店者_画面一覧.md
  lib/strategy-f.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

手数料
  app/api/admin/fee-checks/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

テスト
  app/admin/fee-checks/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

決済回数
  app/admin/tier-boundary/page.tsx
  lib/strategy-f.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

テスト
  app/admin/fee-checks/page.tsx
  app/api/admin/fee-checks/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

ショップ名
  app/api/seller/summary/route.ts
  app/api/seller/update-profile/route.ts
  public/seller-dashboard.html
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

ebay
  app/api/admin/ebay-sold/route.ts
  public/admin/admin-dashboard.html
  scripts/comprehensive-degradation-check.ps1
  worldPriceEngine/ebayClient.js
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

初期値
  public/seller-dashboard.html
Due: none

計測ログ: checkout/session, result, webhook の各awaitにduration log
  app/api/checkout/result/route.ts
  app/api/checkout/session/route.ts
  app/api/webhooks/stripe/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

インバウンド客向け /checkout のページ表示遅延 (30秒) 対策
  app/checkout/page.tsx
  app/layout.tsx
  app/success/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

/checkout を Server Component shell + Client island に分割
  app/checkout/CheckoutClient.tsx
  app/checkout/page.tsx
  lib/checkout-server.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

/checkout の決済導線を明確化（購入者の混乱を解消）
  app/checkout/CheckoutClient.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

CI を aicxo 構造に合わせて 1 job へ整理 (npm ci + cache / concurrency / push trigger)
  .github/workflows/ci.yml
Due: none

/checkout を江戸風デザインに刷新（ボタンが目立たない問題の解消）
  app/checkout/CheckoutClient.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

Codex レビュー指摘の3点を反映
  app/checkout/CheckoutClient.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

言語切替の flag emoji を撤去（Windows で「JP US CN」になる問題の修正）
  app/checkout/CheckoutClient.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

Speed Insights を導入（フロント実ユーザー計測でレスポンス改善を可視化）
  .npmrc
  app/layout.tsx
  package-lock.json
  package.json
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

/checkout から Stripe へ直リダイレクト（フラグ）＋ WeChat Pay 追加
  app/api/checkout/session/route.ts
  app/checkout/page.tsx
  lib/checkout-stripe.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'tsc --noEmit --pretty false': any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
