Repository furima-share-re/fleapay-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

１
  app/api/seller/summary/route.ts
  public/seller-dashboard.html
  vercel.json
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

２
  app/api/seller/summary/route.ts
  public/seller-dashboard.html
  tests/integration/README.md
  tests/integration/api-routes.test.ts
  tests/integration/helpers.ts
  vitest.config.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

3
  tests/integration/api-routes.test.ts
  tests/integration/helpers.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

4
  public/seller-dashboard.html
  tests/integration/api-routes.test.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

5
  vercel.json
Due: prettier --write

DB
  app/api/checkout/session/route.ts
  app/api/pending/start/route.ts
  app/api/seller/summary/route.ts
  app/api/webhooks/stripe/route.ts
  package.json
  prisma/schema.prisma
  scripts/HOW_TO_USE_VIEW_TRANSACTIONS.md
  scripts/PAYMENT_PATTERN_ANALYSIS.md
  scripts/POWERSHELL_使い方.md
  scripts/QR_TO_STRIPE_PAYMENT_FLOW.md
  scripts/URLで取引データ確認.md
  scripts/VIEW_TRANSACTIONS_GUIDE.md
  scripts/analyze-payment-patterns.sql
  scripts/cleanup-incomplete-stripe.ts
  scripts/daily-integrity-check.ts
  scripts/verify_migration.sql
  scripts/view-transactions.js
  scripts/view-transactions.sql
  supabase/migrations/20250115_add_payment_state.sql
  supabase/migrations/20250115_add_payment_state_rollback.sql
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

DB
  scripts/VERIFY_MIGRATION_GUIDE.md
  scripts/verify_migration.sql
  scripts/verify_migration_check_5.sql
  scripts/verify_migration_check_6.sql
  scripts/verify_migration_checks_1-4.sql
Due: prettier --write

DBメンテ
  app/api/orders/metadata/route.ts
  scripts/fix_missing_order_metadata.sql
  scripts/verify_migration_data_count.sql
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  app/api/seller/summary/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  app/api/admin/dashboard/route.ts
  app/api/seller/analytics/route.ts
  app/api/seller/summary/route.ts
  lib/sql-conditions.ts
  payments.js
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  .github/workflows/apply-migrations.yml
  .github/workflows/migration-safety.yml
  IMPLEMENTATION_VALIDATION_REPORT.md
  PAYMENT_STATUS_ISSUE_ANALYSIS.md
  REDIRECT_BEHAVIOR_ANALYSIS.md
  SECURITY_POLICY_SQL.md
  SOURCE_CODE_CONSISTENCY_CHECK.md
  STRIPE_PAYMENT_TEST_CASES.md
  WEBHOOK_DELAY_SOLUTION.md
  app/api/admin/bootstrap-sql/route.ts
  app/api/checkout/result/route.ts
  app/checkout/page.tsx
  app/success/page.tsx
  docs/PRINCIPLE_4_IMPLEMENTATION.md
  payments.js
  public/admin/bootstrap_sql.html
  scripts/check_migration_safety.py
  scripts/investigate_payment_status_issue.sql
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

DB
  app/success/page.tsx
  supabase/migrations/20250115_120000_add_payment_state.sql
  supabase/migrations/20250115_120000_add_payment_state_rollback.sql
  supabase/migrations/20260102_120000_add_auth_provider_columns.sql
  supabase/migrations/20260102_add_auth_provider_columns.sql
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  app/success/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  app/api/checkout/result/route.ts
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

DB
  app/api/checkout/result/route.ts
  app/globals.css
  app/omikuji/page.tsx
  app/omikuji/result/page.tsx
  app/omikuji/shake/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

１
  app/omikuji/result/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

モック
  OMIKUJI_MOCK_EVALUATION_REPORT.md
  app/omikuji-fm/shake/page.tsx
  app/omikuji-r3f/components/Coin.tsx
  app/omikuji-r3f/components/Firework.tsx
  app/omikuji-r3f/components/OmikujiBox.tsx
  app/omikuji-r3f/components/Scene.tsx
  app/omikuji-r3f/page.tsx
  app/omikuji-r3f/result/page.tsx
  app/omikuji-r3f/shake/page.tsx
  package-lock.json
  package.json
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

もっく
  app/omikuji-r3f/components/OmikujiBox.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

モック
  app/omikuji-theatre/components/Coin.tsx
  app/omikuji-theatre/components/Firework.tsx
  app/omikuji-theatre/components/OmikujiBox.tsx
  app/omikuji-theatre/components/Scene.tsx
  app/omikuji-theatre/page.tsx
  app/omikuji-theatre/result/page.tsx
  app/omikuji-theatre/shake/page.tsx
  app/omikuji/page.tsx
  package-lock.json
  package.json
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

２
  app/omikuji-theatre/components/Coin.tsx
  app/omikuji-theatre/components/OmikujiBox.tsx
  app/omikuji-theatre/components/Scene.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

2
  app/omikuji-fm/page.tsx
  app/omikuji-r3f/page.tsx
  app/omikuji-theatre/components/LevaControls.tsx
  app/omikuji-theatre/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

3
  app/omikuji-theatre/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

４
  QUALITY_ASSESSMENT.md
  app/omikuji-fm/shake/page.tsx
  app/omikuji-theatre/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

６
  app/omikuji-theatre/components/Scene.tsx
  app/omikuji-theatre/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

７
  app/omikuji-theatre/components/Scene.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

８
  app/omikuji-theatre/components/OmikujiBox.tsx
  app/omikuji-theatre/components/Scene.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

fix: Add missing closing parenthesis in OmikujiBox.tsx
  app/omikuji-theatre/components/OmikujiBox.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

９
  MOCK_SCREENS.md
  app/omikuji-theatre/components/Scene.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

１０
  app/omikuji-theatre/components/Scene.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

１１
  app/omikuji-theatre/components/Scene.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

db
  app/icon.svg
  public/icon.svg
Due: none

モック
  MOCK_SCREENS.md
  OMIKUJI_QUALITY_ASSESSMENT_2026.md
  app/edo-ichiba/components/EdoHeader.tsx
  app/edo-ichiba/components/FeatureCard.tsx
  app/edo-ichiba/components/HighlightBox.tsx
  app/edo-ichiba/components/MockupCard.tsx
  app/edo-ichiba/components/Section.tsx
  app/edo-ichiba/components/StatsBox.tsx
  app/edo-ichiba/page.tsx
  next.config.js
  tailwind.config.cjs
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false', prettier --write

モック
  app/kids-dashboard-mock/page.tsx
  app/omikuji-mock/page.tsx
  app/omikuji-mock/result/page.tsx
  app/omikuji-mock/shake/page.tsx
  tailwind.config.cjs
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

モック
  app/omikuji-edo-enhanced/phase1/page.tsx
  app/omikuji-edo-enhanced/phase2/page.tsx
  app/omikuji-edo-enhanced/phase3/page.tsx
  app/omikuji-edo/phase1/page.tsx
  app/omikuji-edo/phase2/page.tsx
  app/omikuji-edo/phase3/page.tsx
  app/omikuji-enhanced/phase1/page.tsx
  app/omikuji-enhanced/phase2/page.tsx
Due: eslint --fix, bash -c 'tsc --noEmit --pretty false'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'tsc --noEmit --pretty false': any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md}
